<!DOCTYPE html>
<html>
<head>
  <title>url shortener</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 50px auto;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333333;
      margin-bottom: 30px;
    }

    form {
      margin-bottom: 20px;
    }

    form label {
      display: block;
      margin-bottom: 10px;
      color: #333333;
      font-weight: bold;
    }

    form input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      font-size: 14px;
    }

    form button {
      padding: 10px 20px;
      background-color: #4caf50;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }

    .table-container {
      margin-top: 20px;
      border-collapse: collapse;
      width: 100%;
    }

    .table-container th,
    .table-container td {
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: left;
      width: 50%;
    }

    .table-container th {
      background-color: #f2f2f2;
      color: #333333;
      font-weight: bold;
    }

    .search-container {
      margin-bottom: 20px;
    }

    .search-container input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>URL shortener</h1>
    <form action="/shortUrls" method="post" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">URL</label>
      <input type="url" id="fullUrl" required placeholder="url" name="fullUrl" class="form-control">

      <button>Shorten</button>
    </form>

    <div class="search-container">
      <label for="search">Search:</label>
      <input type="text" id="search" placeholder="Search">

      <button onclick="searchTable()">Search</button>
    </div>

    <div class="table-container">
      <table id="myTable">
        <thead>
          <tr>
            <th>Original URL</th>
            <th>Shortened URL</th>
          </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %>
              <tr>
                <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
              </tr>
            <% }) %>
            <tr>
                <td>A note to test the search function</td>
                <td>hey there</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>

  <script>
    function searchTable() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (var j = 0; j < td.length; j++) {
          var cell = td[j];
          if (cell) {
            txtValue = cell.textContent || cell.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              break;
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    }
  </script>
</body>
</html>
